<h4>Контакты</h4>
<%= image_tag 'map.jpg' %>
<div>
  <i>Почтовый адрес:</i>
  Оргкомитет конференции,<br/>
  Кафедра математического анализа и теории функций, <br/>
  Математический факультет,<br/>
  Донецкий национальный университет,<br/>
  Ул. Университетская 24, г. Донецк, 83001, Украина <br/>
</div>
<div>
  <i>Email:</i> <%= mail_to "conf_ma2011@mail.ru" %>
</div>
<p>
  От ж.д. вокзала лучше всего добираться автобусом № 2 до остановки проспект Гурова (или пл. Ленина). Далее вдоль пр.
  Гурова, мимо гостиницы Донбасс Палас, пересекая бульвар Пушкина и ул.
  Унивеситетскую выйти к главному корпусу университета.
  От аэропорта можно добраться автобусом № 73 или троллейбусом № 9
</p>

<h4>Информация о поселении</h4>
<p>
  Поселение иногородних участников планируется в гостиничных номерах университетского общежития “Комфорт” (Донецк, ул.
  Р.Люксембург, 2).
</p>
<div>
  <i>Прейскурант цен за сутки (на декабрь 2010):</i>
  <ol>
    <li class='branch'> Эконом (2-х местный с раздельными кроватями; 5 номеров) – 74 грн. (за одно место)
    <li class='branch'> Стандарт (2-х местный с раздельными кроватями; 10 номеров) – 113 грн. (за одно место)
    <li class='branch'> Люкс (2-х местный с двуспальной кроватью; 4 номера) – 225 грн. (за весь номер)
  </ol>
</div>
<p>
  В каждом номере имеется туалет, душ и холодильник. В номерах Стандарт и Люкс имеется телевизор.
  Оплата производится при поселении. Возможны изменения цен и количества номеров.
</p>
<p>
  Участники конференции могут самостоятельно забронировать места в других гостиницах г. Донецка. Информацию можно
  получить, например, на сайтах:
<p>
<ul>
  <li class='branch'><a href="http://hotel-econom.ru/rates.html">http://hotel-econom.ru/rates.html</a>
  <li class='branch'><a href="http://hotels.ria.ua/hotel-Нива-78255.html">http://hotels.ria.ua/hotel-Нива-78255.html</a>
  <li class='branch'><a href="http://contact.dn.ua/web/service/hotel/">http://contact.dn.ua/web/service/hotel/</a>
</ul>