<h4>Контакты</h4>
<%= image_tag 'map.jpg' %>
<pre>
<i>Почтовый адрес:</i>
Оргкомитет конференции,
Кафедра математического анализа и теории функций,
Математический факультет,
Донецкий национальный университет,
Ул. Университетская 24, г. Донецк, 83001, Украина
</pre>
<i>Email:</i> <%= mail_to "conf_ma2011@mail.ru" %>
<br/>

<p>
  От ж.д. вокзала лучше всего добираться автобусом № 2 до остановки проспект Гурова (или пл. Ленина или гостиница
  Донбасс Палас ?). Далее вдоль пр. Гурова, мимо гостиницы Донбасс Палас, пересекая бульвар Пушкина и ул.
  Унивеситетскую выйти к главному корпусу университета.
  От аэропорта можно добраться автобусом № 73 или троллейбусом № 9
</p>




Поселение иногородних участников планируется в гостиничных номерах университетского общежития “Комфорт” (Донецк, ул.
Р.Люксембург, 2).

Прейскурант цен за сутки (на декабрь 2010):
1) Эконом (2-х местный с раздельными кроватями; 5 номеров) – 74 грн. (за одно место)
2) Стандарт (2-х местный с раздельными кроватями; 10 номеров) – 113 грн. (за одно место)
3) Люкс (2-х местный с двуспальной кроватью; 4 номера) – 225 грн. (за весь номер)

В каждом номере имеется туалет, душ и холодильник. В номерах Стандарт и Люкс имеется телевизор.

Оплата производится при поселении. Возможны изменения цен и количества номеров.


Участники конференции могут самостоятельно забронировать места в других гостиницах г. Донецка. Информацию можно
получить, например, на сайтах:
http://hotel-econom.ru/rates.html
http://hotels.ria.ua/hotel-Нива-78255.html
http://contact.dn.ua/web/service/hotel/