<h4>Contacts</h4>
<div id='map'>
  <%= link_to(image_tag('map.jpg'), '/images/map.jpg', :target => '_blank') %>
  <h5 align='center'>Click image for detailed view</h5>
</div>
<div>
  <i>POSTAL ADDRESS:</i>
  Organizing Committee of International Conference in Modern Analysis,<br/>
  Chair of Mathematical Analysis and the Function Theory, <br/>
  Department of Mathematics, <br/>
  Donetsk National University,<br/>
  24 Universitetskaya Str., Donetsk, 85000 UKRAINE <br/>
</div>
<div>
  <i>Email:</i> <%= mail_to "conf_ma2011@mail.ru" %>
  <br/>
  <i>Phone:</i> 302-92-55
</div>
<p>
  The best way from the train station is by bus No 37 (till the stop “Gurov Avenue”),
  and also by bus No. 2, till the stop “Gurov Avenue” or “Lenin Square”
  (the first is preferable). Then, along Gurov Avenue, go past the hotel “Donbass Palac”, cross Pushkin Boulevard and
  Universitetskaya Street, then go to the main building of the University.
  From the airport, you should go by bus No. 73 or trolleybus No. 9 till the stop “Gurov Avenue”.
</p>

<h4>Information about the settlement </h4>
<p>
  Organizing Committee has looked a limited number of rooms in the University hostel “Comfort”
  (2 Rosa Luxemburg str., Donetsk):
</p>
<div>
  <i>PRICE-LIST, PER NIGHT (GRN - UKRAINE CURRENCY):</i>
  <ol>
    <li class='branch'> economic class ( double room; 5 rooms for 10 persons ) – 74 grn (for one person)
    <li class='branch'> standard class (double room; 10 rooms for 20 persons) – 113 grn (for one person)
    <li class='branch'> de luxe class ( double bed; 4 rooms) – 225 grn (for the whole room)
  </ol>
</div>
<p>
  Every of the given rooms has w.c. (lavatory), shower (-bath) and a refrigerator.
  Moreover, the standard and luxe rooms are equipped with TV.
</p>
<p>
  The payment for the accommodation is upon settling. However, the price-list and the number of
  rooms are subject to possible changes.
</p>
<p>
  Participants may also book rooms in other hotels of Donetsk. The corresponding information can be found,
  for instance, on the following web-sites:
<p>
<ul>
  <li class='branch'><a href="http://hotel-econom.ru/rates.html">http://hotel-econom.ru/rates.html</a>
  <li class='branch'><a href="http://hotels.ria.ua/hotel-Нива-78255.html">http://hotels.ria.ua/hotel-Нива-78255.html</a>
  <li class='branch'><a href="http://contact.dn.ua/web/service/hotel/">http://contact.dn.ua/web/service/hotel/</a>
</ul>