<h4>Контакти</h4>
<%= image_tag 'map.jpg' %>
<div>
  <i>Поштова адреса:</i>
  Оргкомітет конференції,<br/>
  Кафедра математичного аналізу та теорії функцій, <br/>
  Математичний факультет,<br/>
  Донецький національний університет,<br/>
  Вул. Університетська 24, м. Донецьк, 83001, Україна <br/>
</div>
<div>
  <i>Email:</i> <%= mail_to "conf_ma2011@mail.ru" %>
</div>
<p>
  Від ж.д. вокзалу краще за все добиратися автобусом № 2 до зупинки проспект Гурова (або пл. Леніна). Далі вздовж пр.
  Гурова, повз готель Донбасс Палас, перетинаючи бульвар Пушкіна та вул.
  Унівеситетську вийти до головного корпусу університету.
  Від аеропорту можна добратися автобусом № 73 або тролейбусом № 9.
</p>

<h4>Інформація про поселення</h4>
<p>
  Поселення іногородніх учасників планується в готельних номерах університетського гуртожитку “Комфорт” (Донецьк, вул.
  Р.Люксембург, 2).
</p>
<div>
  <i>Прейскурант цін за добу (на грудень 2010):</i>
  <ol>
    <li class='branch'> Економ (2-місний з роздільними ліжками; 5 номерів) – 74 грн. (за одне месце)
    <li class='branch'> Стандарт (2-місний з роздільними ліжками; 10 номерів) – 113 грн. (за одне месце)
    <li class='branch'> Люкс (2-місний з двоспальним ліжком; 4 номери) – 225 грн. (за весь номер)
  </ol>
</div>
<p>
  У каждому номері є туалет, душ та холодильник. В номерах Стандарт та Люкс є телевізор.
  Оплата здійснюється при поселенні. Можливі зміни цін і кількості номерів.
</p>
<p>
  Учасники конференції можуть самостійно забронювати місця в інших готелях м. Донецька. Інформацію можна
  отримати, наприклад, на сайтах:
<p>
<ul>
  <li class='branch'><a href="http://hotel-econom.ru/rates.html">http://hotel-econom.ru/rates.html</a>
  <li class='branch'><a href="http://hotels.ria.ua/hotel-Нива-78255.html">http://hotels.ria.ua/hotel-Нива-78255.html</a>
  <li class='branch'><a href="http://contact.dn.ua/web/service/hotel/">http://contact.dn.ua/web/service/hotel/</a>
</ul>