<p>
  You are cordially invited to participate in the conference. It will be held at the main building of DonNU
  (Universitetskaya St. 24, Donetsk) from June 20-23, 2011. Arrival – June 19; closing – June 23.
</p>
<div>
  <i>Scientific Committee:</i><br/>
  <i>Co-chairmen:</i> Yu.A. Brudnyi (Haifa, Israel), V.Ya. Gutlyansky (Donetsk).<br/>
  <i>Members:</i> V.V. Andrievsky (Kent, Ohio, USA), V.V. Volchkov (Donetsk), V.M. Miklyukov (Volgograd), V.P. Motornyi
  (Dnepropetrovsk), M.A. Skopina (St.-Petersburg), S.A. Telyakovskii (Moscow), R.M. Trigub (Donetsk), I.A. Shevchuk
  (Kiev).
</div>

<div>
  <i>Organizing Committee:</i><br/>
  <i>Chairman:</i> Vice-Rector of DonNU S.V. Bespalova.<br/>
  <i>Co-chairmen:</i> V.A. Derkach, V.P. Zastavnyi, E.R. Liflyand, V.I. Ryazanov.<br/>
  <i>Members:</i> A.A. Amirshadyan, Vit.V. Volchkov, M.Z. Dveirin, A.A. Dovgoshei, D.V. Dordovsky, A.Yu. Ivanov, D.A.
  Kovtonyuk, Yu.S. Kolomoitsev, O.I. Kuznetsova, P.A. Masharov, O.A. Ochakovskaya, R.R. Salimov, E.A. Sevost'yanov, A.V.
  Tovstolis, O.D. Trofimenko.
</div>

<div>
  <i>Main areas of the conference:</i>
  <ul>
    <li class='branch'>Approximation Theory
    <li class='branch'>Fourier Analysis
    <li class='branch'>Mapping Theory
  </ul>
</div>

<p>
  One day of the conference will be dedicated to the 75th anniversary of R.M. Trigub – one of the leading specialists in
  Approximation Theory and Fourier Analysis.
</p>

<p>
  Kindly confirm your attendance by e-mail conf_ma2011@mail.ru (name, affiliation, the title of your talk, necessity of
  accommodation, contact information) or by online registration till March 15, 2011.
</p>

<p>
  We intend to publish the volume of abstracts. Please send your abstract in Ukrainian, Russian, or English to
  conf_ma2011@mail.ru till April 15, 2011.
</p>

<p>
  Preliminary registration fee is $20-30 (for students $10-15). Registration fee will be paid upon arrival.
</p>
<br/>
Abstract submission can be downloaded here: <%= link_to t('doc.design_rules'), '/design_rules.doc' %>
and <%= link_to t('doc.example'), '/example.tex' %>.