<p>
  Запрошуємо Вас взяти участь у роботі конференції. Конференція буде проходити з
  20 по 23 червня 2011 року в головному корпусі Донецького національного університету
  (Донецьк, вул. Університетська 24). День заїзду - 19 червня. Закриття конференції -
  23 червня.
</p>

<div>
  <i>Програмний комітет:</i><br/>
  <i>Співголови:</i> Ю.А. Брудний (Хайфа, Ізраїль), В.Я. Гутлянський (Донецьк). <br/>
  <i>Члени програмного комітету:</i> В.В. Андрієвський (Огайо, США), В.В. Волчков (Донецьк), В.М. Міклюков (Волгоград),
  В.П. Моторний (Дніпропетровськ), М.О. Скопіна (Санкт-Петербург), С.О. Теляковський (Москва), Р.М. Тригуб (Донецьк),
  І.О.
  Шевчук (Київ).
</div>
<div>
  <i>Організаційний комітет:</i><br/>
  <i>Голова:</i> проректор з наукової роботи ДонНУ С.В. Беспалова.<br/>
  <i>Співголови:</i> В.О. Деркач, В.П. Заставний, І.Р. Ліфлянд, В.І. Рязанов.<br/>
  <i>Члени оргкомітету:</i> А.А. Аміршадян, Віт.В. Волчков, М.З. Двейрін, О.А. Довгоший, Д.В. Дордовський, А.Ю. Іванов,
  Д.О. Ковтонюк, Ю.С. Коломойцев, О.І. Кузнєцова, П.А. Машаров, О.О. Очаковська, Р.Р. Салімов, Є.О. Севостьянов, О.В.
  Товстолис, О.Д. Трофименко.
</div>
<div>
  <i>Основні напрямки роботи конференції:</i>
  <ul>
    <li class='branch'> теорія наближення
    <li class='branch'> гармонійний аналіз
    <li class='branch'> теорія відображень
  </ul>
</div>
<p>
  Один день конференції буде присвячений 75 річчю Р.М. Тригуба - одного з провідних фахівців з теорії наближень
  та гармонійного аналізу.
</p>

<p>
  Реєстрацію учасників конференції буде продовжено до 15 квітня 2011 року. Для участі у роботі конференції просимо
  Вас зареєструватися на нашому сайті або вислати заяву в електронному вигляді за
  адресою <%= mail_to "conf_ma2011@mail.ru" %> (ПІБ, місце роботи, тема доповіді, необхідність поселення, контактні
  дані).
</p>

<h3>ДО УВАГИ ЗАРЕЄСТРОВАНИХ</h3>
Просимо вислати:
<ul>
  <li class='branch'>підтвердження про участь, а також дати приїзду та від'їзду</li>
  <li class='branch'>побажання щодо дати доповіді</li>
  <li class='branch'>заяву на проживання (для тих, хто планує поселитися в готелі "Комфорт") із зазначенням класу номеру та сусідів за
    номером.
  </li>
</ul>
<br />

<p>
  У зв'язку з обмеженістю місць в готелі "Комфорт", заявки будуть задовольнятися в порядку надходження.
</p>

<p>
  Повідомте також, чи потрібне Вам офіційне запрошення на конференцію.
</p>

<p>
  Якщо Ви плануєте оселитися в іншому готелі, зазначеної на сайті в розділі "Контакти ", Ви можете забронювати
  номер самостійно. У випадку, якщо це викличе труднощі, звертайтесь будь ласка до Оргкомітету.
</p>

<p>
  Тези доповідей українською або російською або англійською мовою просимо надіслати до 15 квітня 2011 року по
  адресою <%= mail_to "conf_ma2011@mail.ru" %>. Окрім тез планується видання праць конференції в спеціальному
  випуску журналу UMB, присвяченого 75 річчю Р. М. Тригуба.
</p>

<p>
  Сума оргвнеску складає $30, а для студентів і аспірантів $15. Оплата оргвнеску здійснюється під час
  реєстрації.
</p>
<br/>
Правила оформлення тез можна завантажити тут: <%= link_to t('doc.design_rules'), '/design_rules.doc' %>
та <%= link_to t('doc.example'), '/example.tex' %>.