<p>
  Запрошуємо Вас взяти участь у роботі конференції. Конференція буде проходити з
  20 по 23 червня 2011 року в головному корпусі Донецького національного університету
  (Донецьк, вул. Університетська 24). День заїзду - 19 червня. Закриття конференції -
  23 червня.
</p>

<div>
  <i>Програмний комітет:</i><br/>
  <i>Співголови:</i> Ю.А. Брудний (Хайфа, Ізраїль), В.Я. Гутлянський (Донецьк). <br/>
  <i>Члени програмного комітету:</i> В.В. Андрієвський (Огайо, США), В.В. Волчков (Донецьк), В.М. Міклюков (Волгоград),
  В.П. Моторний (Дніпропетровськ), М.А. Скопіна (Санкт-Петербург), С.А. Теляковський (Москва), Р.М. Тригуб (Донецьк), І.А.
  Шевчук (Київ).
</div>
<div>
  <i>Організаційний комітет:</i><br/>
  <i>Голова:</i> проректор з наукової роботи ДонНУ С.В. Беспалова.<br/>
  <i>Співголови:</i> В.О. Деркач, В.П. Заставний, І.Р. Ліфлянд, В.І. Рязанов.<br/>
  <i>Члени оргкомітету:</i> А.А. Аміршадян, Віт.В. Волчков, М.З. Двейрін, О.А. Довгоший, Д.В. Дордовський, А.Ю. Іванов,
  Д.А. Ковтонюк, Ю.С. Коломойцев, О.І. Кузнєцова, П.А. Машаров, О.А. Очаковська, Р.Р. Салімов, Є.А. Севостьянов, О.В.
  Товстолис, О.Д. Трофименко.
</div>
<div>
  <i>Основні напрямки роботи конференції:</i>
  <ul>
    <li class='branch'> теорія наближення
    <li class='branch'> гармонійний аналіз
    <li class='branch'> теорія відображень
  </ul>
</div>
<p>
  Один день конференції буде присвячений 75 річчю Р.М. Тригуба - одного з провідних фахівців з теорії наближень
  та гармонійного аналізу.
</p>

<p>
  Для участі в роботі конференції просимо Вас до 15 березня 2011 зареєструватися на нашому сайті або надіслати
  заявку в електронному вигляді за адресою
  <%= mail_to "conf_ma2011@mail.ru" %> (ПІБ, місце роботи, тема доповіді,
  необхідність поселення, контактні дані).
</p>

<p>
  Будуть видані тези доповідей. Тези доповідей українською або російською або англійською мовою просимо надіслати
  до 15 квітня 2011 року по адресою <%= mail_to "conf_ma2011@mail.ru" %>.
</p>

<p>
  Сума оргвнеску складає $ 20-30, а для студентів і аспірантів $ 10-15. Оплата оргвнеску здійснюється під час
  реєстрації.
</p>
<br/>
Правила оформлення тез можна завантажити тут: <%= link_to t('doc.design_rules'), '/design_rules.doc' %>
та <%= link_to t('doc.example'), '/example.tex' %>.