<p>
  Приглашаем Вас принять участие в работе конференции. Конференция будет проходить с 20 по 23 июня 2011 года в главном
  корпусе Донецкого национального университета (Донецк, ул. Университетская 24). День заезда – 19 июня. Закрытие
  конференции – 23 июня.
</p>

<div>
  <i>Программный комитет:</i><br/>
  <i>Сопредседатели:</i> Ю.А. Брудный (Хайфа, Израиль), В.Я. Гутлянский (Донецк). <br/>
  <i>Члены Программного комитета:</i> В.В. Андриевский (Огайо, США), В.В. Волчков (Донецк), В.М. Миклюков (Волгоград),
  В.П.
  Моторный (Днепропетровск), М.А. Скопина (Санкт-Петербург), С.А. Теляковский (Москва), Р.М. Тригуб (Донецк), И.А.
  Шевчук (Киев).
</div>
<div>
  <i>Организационный комитет:</i><br/>
  <i>Председатель:</i> проректор по научной работе ДонНУ С.В. Беспалова.<br/>
  <i>Сопредседатели:</i> В.А. Деркач, В.П. Заставный, И.Р. Лифлянд, В.И. Рязанов.<br/>
  <i>Члены Оргкомитета:</i> А.А. Амиршадян, Вит.В. Волчков, М.З. Двейрин, А.А. Довгошей, Д.В. Дордовский, А.Ю. Иванов,
  Д.А.
  Ковтонюк, Ю.С. Коломойцев, О.И. Кузнецова, П.А. Машаров, О.А. Очаковская, Р.Р. Салимов, Е.А. Севостьянов, А.В.
  Товстолис, О.Д. Трофименко.
</div>
<div>
  <i>Основные направления работы конференции:</i>
  <ul>
    <li class='branch'> теория приближения
    <li class='branch'> гармонический анализ
    <li class='branch'> теория отображений
  </ul>
</div>
<p>
  Один день конференции будет посвящен 75 летию Р.М. Тригуба – одного из ведущих специалистов по теории приближений и
  гармоническому анализу.
</p>

<p>
  Для участия в работе конференции просим Вас до 15 марта 2011 года зарегистрироваться на нашем сайте или прислать
  заявку в электронном виде по адресу <%= mail_to "conf_ma2011@mail.ru"%> (ФИО, место работы, тема доклада, необходимость поселения,
  контактные данные).
</p>

<p>
  Будут изданы тезисы докладов. Тезисы докладов на украинском или русском или английском языке просим прислать до 15
  апреля 2011 года по адресу <%= mail_to "conf_ma2011@mail.ru"%>.
</p>

<p>
  Сумма оргвзноса составляет $20−30, а для студентов и аспирантов $10−15. Оплата оргвзноса производится во время
  регистрации.
</p>
<br/>
Правила оформления тезисов можно скачать здесь: <%= link_to t('doc.design_rules'), '/design_rules.doc' %>
и <%= link_to t('doc.example'), '/example.tex' %>.