<p>
  You are cordially invited to participate in the conference. It will be held at the main building of Donetsk National
  University (DonNU; Universitetskaya St. 24, Donetsk) from June 20-23, 2011. Arrival – June 19; closing – June 23.
</p>
<div>
  <i>Program Committee:</i><br/>
  <i>Co-chairmen:</i> Yu.A. Brudnyi (Haifa, Israel), V.Ya. Gutlyansky (Donetsk).<br/>
  <i>Members:</i> V.V. Andrievsky (Kent, Ohio, USA), V.V. Volchkov (Donetsk), V.M. Miklyukov (Volgograd), V.P. Motornyi
  (Dnepropetrovsk), M.A. Skopina (St.-Petersburg), S.A. Telyakovskii (Moscow), R.M. Trigub (Donetsk), I.A. Shevchuk
  (Kiev).
</div>

<div>
  <i>Organizing Committee:</i><br/>
  <i>Chairman:</i> Vice-Rector of DonNU S.V. Bespalova.<br/>
  <i>Co-chairmen:</i> V.A. Derkach, V.P. Zastavnyi, E.R. Liflyand, V.I. Ryazanov.<br/>
  <i>Members:</i> A.A. Amirshadyan, Vit.V. Volchkov, M.Z. Dveirin, A.A. Dovgoshei, D.V. Dordovsky, A.Yu. Ivanov, D.A.
  Kovtonyuk, Yu.S. Kolomoitsev, O.I. Kuznetsova, P.A. Masharov, O.A. Ochakovskaya, R.R. Salimov, E.A. Sevost'yanov, A.V.
  Tovstolis, O.D. Trofymenko.
</div>

<div>
  <i>Main areas of the conference:</i>
  <ul>
    <li class='branch'>Approximation Theory</li>
    <li class='branch'>Fourier Analysis</li>
    <li class='branch'>Mapping Theory</li>
  </ul>
</div>

<p>
  One day of the conference will be dedicated to the 75th anniversary of R.M. Trigub – one of the leading specialists in
  Approximation Theory and Fourier Analysis.
</p>

<p>
  Conference languages: Ukrainian, Russian, English.
</p>

<p>
  The deadline for registration will be extended till April 15, 2011. In order to participate in the conference you
  should either register online at the conference site or send e-mail to <%= mail_to "conf_ma2011@mail.ru" %>
  (name, affiliation, the title of your talk, necessity of accommodation, contact information).
</p>

<h3>TO THOSE WHO HAVE ALREADY REGISTERED</h3>
We cordially ask you to send us:
<ul>
  <li class='branch'>Confirmation of your participance with the dates of arrival and departure</li>
  <li class='branch'>Your preferences for the date of the talk</li>
  <li class='branch'>Booking request (for those who intend to stay in the “Comfort” hotel) with the level of the
    apartment and possible candifates for sharing the room.
  </li>
</ul>
<br />

<p>
  Since the number of places in the “Comfort” hotel is limited, booking will be proceeded in the intake of requests.
</p>

<p>
  Please let us know whether you need a formal invitation letter.
</p>

<p>
  If you are going to stay in a different hotel indicated in Contacts of our site, you may book an apartment by
  yourself. In case of any difficulties, ask the Organizing Committee for help.
</p>

<p>
  Please send your abstract in Ukrainian, Russian, or English to <%= mail_to "conf_ma2011@mail.ru" %> till April 15, 2011.
</p>

<p>
  We intend to publish, along with the volume of abstracts, the conference proceedings in a special issue of the UMB
  journal dedicated to the 75th anniversary of R.M. Trigub.
</p>

<p>
  Registration fee is $30 (for students $15). Registration fee will be paid upon arrival.
</p>
<br/>
Abstract submission can be downloaded here: <%= link_to t('doc.design_rules'), '/design_rules.doc' %>
and <%= link_to t('doc.example'), '/example.tex' %>.